# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
# 忽略所有导出的聊天记录数据
*.json
*.csv
*.png
*.jpg
*.jpeg
*.gif
*.zip
.DS_Store
chatlog_mac


# 忽略 chatlog 自动生成的工作目录
/wxid_*/
/chatlog_export/
